.loading-bar {

  @extend .fixed-top;
  height: .25rem;

  > .track { @extend .bg-primary, .h-100, .border-top, .border-white; }
  > .track.-loadinga {
    animation: loading-bar-a 99s cubic-bezier(0, 1, 0, 1);
    width: 60%;
  }
  > .track.-loadingb {
    animation: loading-bar-b 99s cubic-bezier(0, 1, 0, 1);
    width: 60%;
  }
  > .track.-complete {
    transition: all 200ms;
    width: 100%;
    opacity: 0;
  }

}

@keyframes loading-bar-a {
  0%   { width:  0%; }
  100% { width: 90%; }
}

@keyframes loading-bar-b {
  0%   { width:  0%; }
  100% { width: 90%; }
}
